.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkgreen;
}

.headerContainer{
    max-width: 1000px;
    margin: 0 auto;
    height: 80px;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 15px;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: white;
    padding-right: 10px;
}
.icon:hover{
    color: yellow
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: yellow
}
