.person{
    margin-top: 140px;
    padding: 20px 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgreen
}
.personInfo{
    text-align: left;
    font-size: 28px;
    margin: 10px 20px;
    color: darkslategrey;
}
.link{
    color: darkred;
    padding: 0 10px;
}
.link:hover{
    background-color: darkred;
    color: white;
    padding: 0 10px;
}